:root {
    --white: #FEF9EE;
    --black: #000;
    --yellow: #DB992C;
    --red: #861B15;
} 

footer {
    position: relative;
    text-align: center;
    color: #fff;
    overflow: hidden;
}

/* Estilo do wave */
.footer-wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.footer-wave img {
    width: 100%;
    height: auto;
    pointer-events: none;
}

.container-socialmedias {
    position: relative;
    z-index: 2;
    margin-top: 345px;
    margin-right: 0px;
}



.container-socialmedias h2 {
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.container-socialmedias i {
    font-size: 1.5em;
    color: var(--white);
    padding: 10px;
    transition: color 0.3s ease;
}

.container-socialmedias i:hover {
    color: var(--black);
}



 /* versão mobile */

@media screen and (max-width: 746px) {
    .footer-wave, .footer-content img {
      display: none;
    }
  
    .container-socialmedias  {
      overflow: hidden;
      color: var(--red);
      margin-top: 0px;

    }
    .container-socialmedias i {
      color: var(--black) ; 
    }
  }
  
  /* versão tablet */
  
  @media (min-width: 600px) and (max-width: 1024px) {
      .footer-wave, .footer-content img {
          display: none;
        }
        .container-socialmedias  {
          overflow: hidden;
          color: var(--red);
          margin-top: 20px;
        }
        .container-socialmedias h2 {
          font-size: 2em;
        }
        .container-socialmedias i {
          color: black ;
          font-size: 2em;
        }
  
        .container_avaliacoes img{
          pointer-events: none;
        }
      
  }